<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RocMovies - Cinéma</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Animation for fading in */
        .fadeIn {
            animation: fadeIn 1.5s ease-out forwards;
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        /* Hover effect for movie cards */
        .card-hover:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    </style>
</head>
<body class="bg-gray-900 text-white font-sans antialiased">

    <!-- Section Header -->
    <div th:include="fragments/header :: header"></div>

    <section id="movies" class="py-16 bg-gray-800">
        <div class="max-w-7xl mx-auto px-4">
            <h2 class="text-3xl font-bold text-center text-yellow-500 mb-10">Film choisi</h2>

            <section id="movies" class="py-16 bg-gray-800 min-h-screen flex items-center justify-center">
                <div class="flex flex-col lg:flex-row items-center justify-center bg-gray-700 rounded-lg shadow-2xl overflow-hidden w-full max-w-4xl">
            
                    <!-- Card Image -->
                    <div class="w-full lg:w-1/2">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1LRLLWGvs5sZdTzuMqLEahb88Pc.jpg" alt="Film 2" class="w-full object-cover">
                    </div>
            
                    <!-- Film Information -->
                    <div class="w-full lg:w-1/2 p-6">

                        <div class="mb-6">
                            <!-- Formulaire pour ajouter un film -->
                            <form th:action="@{/movie}" th:object="${movie}" method="post">

                                <label for="title" class="block text-gray-300 text-lg mt-4 mb-2">Titre du Film</label>
                                <input type="text" id="title" name="title" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>
                        
                                <label for="style" class="block text-gray-300 text-lg mt-4 mb-2">Choisissez un style</label>
                                <select id="style" name="style" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>
                                    <option selected="true" disabled="disabled" value="">Styles disponibles</option>
                                    <div th:each="style : ${styles}">
                                        <option th:text="${style.getLabel()}" th:value="${style.getId()}"></option>
                                    </div>
                                </select>
                        
                                <label for="productionYear" class="block text-gray-300 text-lg mt-4 mb-2">Année de production</label>
                                <input type="number" id="productionYear" name="productionYear" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>
                        
                                <label for="ref" class="block text-gray-300 text-lg mt-4 mb-2">Référence du Film</label>
                                <input type="text" id="ref" name="ref" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>
                        
                                <label for="imageSrc" class="block text-gray-300 text-lg mt-4 mb-2">URL de l'Image</label>
                                <input type="text" id="imageSrc" name="imageSrc" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>

                                <label for="productor" class="block text-gray-300 text-lg mt-4 mb-2">Choisissez un producteur</label>
                                <select id="productor" name="productor" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all" required>
                                    <option selected="true" disabled="disabled" value="">Producteurs disponibles</option>
                                    <div th:each="productor : ${productors}">
                                        <option th:text="${productor.getName()}" th:value="${productor.getId()}"></option>
                                    </div>
                                </select>

                                <!-- Bouton de soumission -->
                                <button type="submit" class="w-full py-3 px-4 bg-gray-800 text-yellow-500 border-2 border-gray-600 rounded-full text-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 transition-all mt-6">
                                    Ajouter le Film
                                </button>
                            </form>
                        </div>
                            
                    </div>
        
                </div>
            </section>
            
            
        </div>
    </section>
    

    <!-- Section Footer -->
    <div th:include="fragments/footer :: footer"></div>
    

</body>
</html>
